.Article__button {
  background: lightgrey;
  width: 100%;
  text-align: left;
  border: none;
  margin: 0.5rem 0;
}

.Article__button:hover {
  cursor: pointer;
}

.Article__button:focus {
  outline: none;
}
